<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>^{title}</title>
    <link rel="stylesheet" href="/third/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/common/comm.css">
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/css/index/index.css">
    <link rel="stylesheet" href="/css/index/about.css">
    <link rel="stylesheet" href="/css/index/qualification.css">
    <link rel="stylesheet" href="/css/index/news.css">
    <link rel="stylesheet" href="/css/index/contact.css">
    <link rel="stylesheet" href="/css/index/detail.css">
    <script type="text/javascript" src="/third/js/jq/jquery.min.js"></script>
    <script type="text/javascript" src="/third/layui/layui.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>

<!--顶部-->
<div class="main-div">
    <div class="top-nav">
        <div class="top-nav-inner">
            <div class="top-nav-inner-left">
                <img class="logo-img" src="^{logoImg.sysValue}"/>
            </div>
            <div id="channelList" class="top-nav-inner-right">
                @# for(channel in channelList){ #@
                <a class="nav-a" href="^{channel.indexName}" id="chaId^{channelLP.dataIndex}" value="^{channel.id}">^{channel.name}</a>
                @# } #@
            </div>
        </div>
    </div>
</div>

<!--内容-->
^{layoutContent}

<!--底部-->
<div class="footer-main">
    <div class="footer-warp">
        <div class="footer-warp-content">
            <select class="footer-select" name="selectOne" id="selectOne">
                <option value="0" selected>政府机构</option>
                @# for(one in footInputOne) { #@
                <option value=^{one.urlAddress}>^{one.urlName}</option>
                @# } #@
            </select>
            <select class="footer-select" name="selectTwo" id="selectTwo">
                <option value="0" selected>行业链接</option>
                @# for(two in footInputTwo) { #@
                <option value=^{two.urlAddress}>^{two.urlName}</option>
                @# } #@
            </select>
            <select class="footer-select narrow" name="selectThree" id="selectThree">
                <option value="0" selected>新闻媒体</option>
                @# for(three in footInputThree) { #@
                <option value=^{three.urlAddress}>^{three.urlName}</option>
                @# } #@
            </select>
        </div>
        <div>
            <div class="footer-copyright">^{copyright.sysValue}<br>
                <a href=^{footICP.sysValue} target="_blank">^{footICP.sysName}</a>
                技术支持：
                <a href=^{company.sysValue} target="_blank">^{company.sysName}</a>
            </div>
        </div>
    </div>

    <div class="footer-logo">
        <img class="logo" src=^{footLogoImg.sysValue}/>
    </div>
</div>

</body>
</html>