<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author zhr 创建时间 2017-09-02 16:54:19-->
<mapper namespace="userAuth">
    <!--baseresult-->

    <resultMap id="BaseResultMap"   type="com.shytong.modules.user.model.UserAuthDo">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="sys_identifier" property="sysIdentifier" jdbcType="VARCHAR" />
        <result column="identifier" property="identifier" jdbcType="VARCHAR" />
        <result column="certificate" property="certificate" jdbcType="VARCHAR" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    </resultMap>



    <insert id="insert" parameterType="com.shytong.modules.user.model.UserAuthDo"   >
    insert into sy_user_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id !=null ">
            id,
        </if>
        <if test="userId !=null ">
            user_id,
        </if>
        <if test="type !=null ">
            type,
        </if>
        <if test="sysIdentifier !=null ">
            sys_identifier,
        </if>
        <if test="identifier !=null ">
            identifier,
        </if>
        <if test="certificate !=null ">
            certificate,
        </if>
        <if test="gmtCreate !=null ">
            gmt_create,
        </if>
        <if test="isDeleted !=null ">
            is_deleted,
        </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id !=null ">
            #{id,jdbcType=VARCHAR},
        </if>
        <if test="userId !=null ">
            #{userId,jdbcType=VARCHAR},
        </if>
        <if test="type !=null ">
            #{type,jdbcType=TINYINT},
        </if>
        <if test="sysIdentifier !=null ">
            #{sysIdentifier,jdbcType=VARCHAR},
        </if>
        <if test="identifier !=null ">
            #{identifier,jdbcType=VARCHAR},
        </if>
        <if test="certificate !=null ">
            #{certificate,jdbcType=VARCHAR},
        </if>
        <if test="gmtCreate !=null ">
            #{gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="isDeleted !=null ">
            #{isDeleted,jdbcType=TINYINT},
        </if>
    </trim>
    </insert>

    <update id="updateSelective" parameterType="com.shytong.modules.user.model.UserAuthDo"   >
    update sy_user_auth
    <set>
        <if test="(isAll == 1 ||  fields.id !=null ) and id !=null">
            id=#{id,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.userId !=null ) and userId !=null">
            user_id=#{userId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.type !=null ) and type !=null">
            type=#{type,jdbcType=TINYINT},
        </if>
        <if test="(isAll == 1 ||  fields.sysIdentifier !=null ) and sysIdentifier !=null">
            sys_identifier=#{sysIdentifier,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.identifier !=null ) and identifier !=null">
            identifier=#{identifier,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.certificate !=null ) and certificate !=null">
            certificate=#{certificate,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.gmtCreate !=null ) and gmtCreate !=null">
            gmt_create=#{gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="(isAll == 1 ||  fields.isDeleted !=null ) and isDeleted !=null">
            is_deleted=#{isDeleted,jdbcType=TINYINT},
        </if>

    </set>
    where 1=1 
    and id=#{id,jdbcType=VARCHAR} 
    </update>

    <select id="selective" parameterType="com.shytong.modules.user.model.UserAuthDo" resultType="com.shytong.modules.user.model.UserAuthDo"  >
    <trim prefix="select " suffix="" suffixOverrides=",">
        
        id as id,        
        user_id as userId,        
        type as type,        
        sys_identifier as sysIdentifier,        
        identifier as identifier,        
        certificate as certificate,        
        gmt_create as gmtCreate,        
        is_deleted as isDeleted,    </trim>
    from sy_user_auth where 1=1 and id=#{id} and is_deleted=0 
    </select>

    <select id="select" parameterType="com.shytong.modules.user.model.UserAuthDo" resultType="com.shytong.modules.user.model.UserAuthDo"  >
    select ${fields} from 
                sy_user_auth where id=#{id} and is_deleted=0
    </select>

    <update id="delete" parameterType="com.shytong.modules.user.model.UserAuthDo"   >
    update  sy_user_auth  set is_deleted=1  where 
     id=#{id,jdbcType=VARCHAR} 
    </update>



</mapper>