<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author zhr 创建时间 2017-09-02 16:54:19-->
<mapper namespace="user">
    <!--baseresult-->

    <resultMap id="BaseResultMap"   type="com.shytong.modules.user.model.UserDo">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="CHAR" />
        <result column="phone" property="phone" jdbcType="CHAR" />
        <result column="pwd" property="pwd" jdbcType="VARCHAR" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="editor_id" property="editorId" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="CHAR" />
        <result column="sex" property="sex" jdbcType="CHAR" />
        <result column="union_id" property="unionId" jdbcType="VARCHAR" />
        <result column="open_id" property="openId" jdbcType="VARCHAR" />
    </resultMap>



    <insert id="insert" parameterType="com.shytong.modules.user.model.UserDo"   >
    insert into sy_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id !=null ">
            id,
        </if>
        <if test="nickName !=null ">
            nick_name,
        </if>
        <if test="account !=null ">
            account,
        </if>
        <if test="status !=null ">
            status,
        </if>
        <if test="phone !=null ">
            phone,
        </if>
        <if test="pwd !=null ">
            pwd,
        </if>
        <if test="avatar !=null ">
            avatar,
        </if>
        <if test="gmtCreate !=null ">
            gmt_create,
        </if>
        <if test="creatorId !=null ">
            creator_id,
        </if>
        <if test="gmtModified !=null ">
            gmt_modified,
        </if>
        <if test="editorId !=null ">
            editor_id,
        </if>
        <if test="isDeleted !=null ">
            is_deleted,
        </if>
        <if test="country !=null ">
            country,
        </if>
        <if test="province !=null ">
            province,
        </if>
        <if test="city !=null ">
            city,
        </if>
        <if test="sex !=null ">
            sex,
        </if>
        <if test="unionId !=null ">
            union_id,
        </if>
        <if test="openId !=null ">
            open_id,
        </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id !=null ">
            #{id,jdbcType=VARCHAR},
        </if>
        <if test="nickName !=null ">
            #{nickName,jdbcType=VARCHAR},
        </if>
        <if test="account !=null ">
            #{account,jdbcType=VARCHAR},
        </if>
        <if test="status !=null ">
            #{status,jdbcType=CHAR},
        </if>
        <if test="phone !=null ">
            #{phone,jdbcType=CHAR},
        </if>
        <if test="pwd !=null ">
            #{pwd,jdbcType=VARCHAR},
        </if>
        <if test="avatar !=null ">
            #{avatar,jdbcType=VARCHAR},
        </if>
        <if test="gmtCreate !=null ">
            #{gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="creatorId !=null ">
            #{creatorId,jdbcType=VARCHAR},
        </if>
        <if test="gmtModified !=null ">
            #{gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="editorId !=null ">
            #{editorId,jdbcType=VARCHAR},
        </if>
        <if test="isDeleted !=null ">
            #{isDeleted,jdbcType=TINYINT},
        </if>
        <if test="country !=null ">
            #{country,jdbcType=VARCHAR},
        </if>
        <if test="province !=null ">
            #{province,jdbcType=VARCHAR},
        </if>
        <if test="city !=null ">
            #{city,jdbcType=CHAR},
        </if>
        <if test="sex !=null ">
            #{sex,jdbcType=CHAR},
        </if>
        <if test="unionId !=null ">
            #{unionId,jdbcType=VARCHAR},
        </if>
        <if test="openId !=null ">
            #{openId,jdbcType=VARCHAR},
        </if>
    </trim>
    </insert>

    <update id="updateSelective" parameterType="com.shytong.modules.user.model.UserDo"   >
    update sy_user
    <set>
        <if test="(isAll == 1 ||  fields.id !=null ) and id !=null">
            id=#{id,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.nickName !=null ) and nickName !=null">
            nick_name=#{nickName,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.account !=null ) and account !=null">
            account=#{account,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.status !=null ) and status !=null">
            status=#{status,jdbcType=CHAR},
        </if>
        <if test="(isAll == 1 ||  fields.phone !=null ) and phone !=null">
            phone=#{phone,jdbcType=CHAR},
        </if>
        <if test="(isAll == 1 ||  fields.pwd !=null ) and pwd !=null">
            pwd=#{pwd,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.avatar !=null ) and avatar !=null">
            avatar=#{avatar,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.gmtCreate !=null ) and gmtCreate !=null">
            gmt_create=#{gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="(isAll == 1 ||  fields.creatorId !=null ) and creatorId !=null">
            creator_id=#{creatorId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.gmtModified !=null ) and gmtModified !=null">
            gmt_modified=#{gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="(isAll == 1 ||  fields.editorId !=null ) and editorId !=null">
            editor_id=#{editorId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.isDeleted !=null ) and isDeleted !=null">
            is_deleted=#{isDeleted,jdbcType=TINYINT},
        </if>
        <if test="(isAll == 1 ||  fields.country !=null ) and country !=null">
            country=#{country,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.province !=null ) and province !=null">
            province=#{province,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.city !=null ) and city !=null">
            city=#{city,jdbcType=CHAR},
        </if>
        <if test="(isAll == 1 ||  fields.sex !=null ) and sex !=null">
            sex=#{sex,jdbcType=CHAR},
        </if>
        <if test="(isAll == 1 ||  fields.unionId !=null ) and unionId !=null">
            union_id=#{unionId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.openId !=null ) and openId !=null">
            open_id=#{openId,jdbcType=VARCHAR},
        </if>

    </set>
    where 1=1 
    and id=#{id,jdbcType=VARCHAR} 
    </update>

    <select id="selective" parameterType="com.shytong.modules.user.model.UserDo" resultType="com.shytong.modules.user.model.UserDo"  >
    <trim prefix="select " suffix="" suffixOverrides=",">
        
        id as id,        
        nick_name as nickName,        
        account as account,        
        status as status,        
        phone as phone,        
        pwd as pwd,        
        avatar as avatar,        
        gmt_create as gmtCreate,        
        creator_id as creatorId,        
        gmt_modified as gmtModified,        
        editor_id as editorId,        
        is_deleted as isDeleted,        
        country as country,        
        province as province,        
        city as city,        
        sex as sex,        
        union_id as unionId,        
        open_id as openId,    </trim>
    from sy_user where 1=1 and id=#{id} and is_deleted=0 
    </select>

    <select id="select" parameterType="com.shytong.modules.user.model.UserDo" resultType="com.shytong.modules.user.model.UserDo"  >
    select ${fields} from 
                sy_user where id=#{id} and is_deleted=0
    </select>

    <update id="delete" parameterType="com.shytong.modules.user.model.UserDo"   >
    update  sy_user  set is_deleted=1  where 
     id=#{id,jdbcType=VARCHAR} 
    </update>



</mapper>