<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author zhr 创建时间 2017-09-02 16:54:19-->
<mapper namespace="wxMp">
    <!--baseresult-->

    <resultMap id="BaseResultMap"   type="com.shytong.modules.wx.model.WxMpDo">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="wx_code" property="wxCode" jdbcType="VARCHAR" />
        <result column="app_id" property="appId" jdbcType="VARCHAR" />
        <result column="secret" property="secret" jdbcType="VARCHAR" />
        <result column="service_url" property="serviceUrl" jdbcType="VARCHAR" />
        <result column="service_token" property="serviceToken" jdbcType="VARCHAR" />
        <result column="encoding_key" property="encodingKey" jdbcType="VARCHAR" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="editor_id" property="editorId" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    </resultMap>



    <insert id="insert" parameterType="com.shytong.modules.wx.model.WxMpDo"   >
    insert into sy_wx_mp
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id !=null ">
            id,
        </if>
        <if test="wxCode !=null ">
            wx_code,
        </if>
        <if test="appId !=null ">
            app_id,
        </if>
        <if test="secret !=null ">
            secret,
        </if>
        <if test="serviceUrl !=null ">
            service_url,
        </if>
        <if test="serviceToken !=null ">
            service_token,
        </if>
        <if test="encodingKey !=null ">
            encoding_key,
        </if>
        <if test="gmtCreate !=null ">
            gmt_create,
        </if>
        <if test="creatorId !=null ">
            creator_id,
        </if>
        <if test="gmtModified !=null ">
            gmt_modified,
        </if>
        <if test="editorId !=null ">
            editor_id,
        </if>
        <if test="isDeleted !=null ">
            is_deleted,
        </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id !=null ">
            #{id,jdbcType=VARCHAR},
        </if>
        <if test="wxCode !=null ">
            #{wxCode,jdbcType=VARCHAR},
        </if>
        <if test="appId !=null ">
            #{appId,jdbcType=VARCHAR},
        </if>
        <if test="secret !=null ">
            #{secret,jdbcType=VARCHAR},
        </if>
        <if test="serviceUrl !=null ">
            #{serviceUrl,jdbcType=VARCHAR},
        </if>
        <if test="serviceToken !=null ">
            #{serviceToken,jdbcType=VARCHAR},
        </if>
        <if test="encodingKey !=null ">
            #{encodingKey,jdbcType=VARCHAR},
        </if>
        <if test="gmtCreate !=null ">
            #{gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="creatorId !=null ">
            #{creatorId,jdbcType=VARCHAR},
        </if>
        <if test="gmtModified !=null ">
            #{gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="editorId !=null ">
            #{editorId,jdbcType=VARCHAR},
        </if>
        <if test="isDeleted !=null ">
            #{isDeleted,jdbcType=TINYINT},
        </if>
    </trim>
    </insert>

    <update id="updateSelective" parameterType="com.shytong.modules.wx.model.WxMpDo"   >
    update sy_wx_mp
    <set>
        <if test="(isAll == 1 ||  fields.id !=null ) and id !=null">
            id=#{id,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.wxCode !=null ) and wxCode !=null">
            wx_code=#{wxCode,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.appId !=null ) and appId !=null">
            app_id=#{appId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.secret !=null ) and secret !=null">
            secret=#{secret,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.serviceUrl !=null ) and serviceUrl !=null">
            service_url=#{serviceUrl,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.serviceToken !=null ) and serviceToken !=null">
            service_token=#{serviceToken,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.encodingKey !=null ) and encodingKey !=null">
            encoding_key=#{encodingKey,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.gmtCreate !=null ) and gmtCreate !=null">
            gmt_create=#{gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="(isAll == 1 ||  fields.creatorId !=null ) and creatorId !=null">
            creator_id=#{creatorId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.gmtModified !=null ) and gmtModified !=null">
            gmt_modified=#{gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="(isAll == 1 ||  fields.editorId !=null ) and editorId !=null">
            editor_id=#{editorId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.isDeleted !=null ) and isDeleted !=null">
            is_deleted=#{isDeleted,jdbcType=TINYINT},
        </if>

    </set>
    where 1=1 
    and id=#{id,jdbcType=VARCHAR} 
    </update>

    <select id="selective" parameterType="com.shytong.modules.wx.model.WxMpDo" resultType="com.shytong.modules.wx.model.WxMpDo"  >
    <trim prefix="select " suffix="" suffixOverrides=",">
        
        id as id,        
        wx_code as wxCode,        
        app_id as appId,        
        secret as secret,        
        service_url as serviceUrl,        
        service_token as serviceToken,        
        encoding_key as encodingKey,        
        gmt_create as gmtCreate,        
        creator_id as creatorId,        
        gmt_modified as gmtModified,        
        editor_id as editorId,        
        is_deleted as isDeleted,    </trim>
    from sy_wx_mp where 1=1 and id=#{id} and is_deleted=0 
    </select>

    <select id="select" parameterType="com.shytong.modules.wx.model.WxMpDo" resultType="com.shytong.modules.wx.model.WxMpDo"  >
    select ${fields} from 
                sy_wx_mp where id=#{id} and is_deleted=0
    </select>

    <update id="delete" parameterType="com.shytong.modules.wx.model.WxMpDo"   >
    update  sy_wx_mp  set is_deleted=1  where 
     id=#{id,jdbcType=VARCHAR} 
    </update>



</mapper>