<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resourceLib">

    <select id="selectList" parameterType="java.util.Map" resultType="java.util.Map">
        select a.res_id as resId,a.res_type as resType,a.res_name as resName from sy_resource_lib a
        <where>
            <if test="resId != null and resId != ''">
                and a.res_id = #{resId}
            </if>
            <if test="resName != null and resName != ''">
                and a.res_name like CONCAT('%', #{resName}, '%')
            </if>
            <if test="resType != null and resType != ''">
                and a.res_type = #{resType}
            </if>
            <if test="startTime != null and startTime != ''">
                AND a.gmt_create &gt;= STR_TO_DATE(#{startTime}, 'YYYY-MM-DD')
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.gmt_create &lt;= STR_TO_DATE(#{endTime}, 'YYYY-MM-DD')
            </if>
            and a.is_deleted=0
        </where>
     </select>


</mapper>