.content {
    position: inherit;
    top: inherit;
    min-height: 803px;
    padding-bottom: 50px;
}

.content .header {
    padding: 0 0 20px;
}

.content .header p.title {
    margin-top: 20px;
    color: #444;
    font-size: 26px;
    text-align: center;
}

.abbgcont {
    width: 85%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
}

.abbgcontimg img {
    max-width: 1000px;
    height: auto;
    border: 0;
    vertical-align: middle;
}