.carousel-img {
    width: auto;
    height: 480px;
    max-height: 480px;
    min-width: 100%;
}

.wrap-content {
    margin-top: 90px;
    width: 100%;
    height: 90%;
    background: url(/img/upload/mian1bg.png);
    background-size: 100% 100%;
}

.wrap-content span {
    text-align: center;
    display: block;
    margin: 1% auto 1%;
    color: #fe0c0c;
    font-size: 20px;
}

.wrap-content h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 auto 2%;
    color: #002d7b;
    font-weight: normal;
}

.wrap-content h2 i {
    width: 5%;
    background: #cccccc;
    height: 1px;
    display: inline-block;
    margin: 10px;
}

.wrap-content h3 {
    font-size: 15px;
    text-align: left;
    width: 75%;
    margin: 0 auto;
    font-weight: bold;
}

.wrap-content h3 div {
    text-align: right;
    padding: 10px 0 50px;
}

.wrapper-content-service {
    position: relative;
    display: block;
    width: 100%;
    height: 480px;
    background: url(/img/upload/mian2bg.jpg) no-repeat top center;
}

.content-service-title {
    position: absolute;
    top: 15%;
    margin: 0 auto;
    width: 100%
}

.content-service-title h1 {
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}

.content-service-title span {
    display: block;
    margin: 1% auto;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.content-service-item {
    position: relative;
    top: 48%;
    margin: 0 auto;
    padding: 0 5%;
}

.content-service-item ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.content-service-item a img {
    vertical-align: middle;
}


.content-service-item a h4 {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin: 5px auto;
}

.warp-news-model {
    display: flex;
    width: 100%;
    height: 520px;
    background: url(/img/upload/footbg.png) left bottom no-repeat;
}

.news-channel {
    float: left;
    width: 30%;
    padding-top: 70px;
}

.news-channel a {
    display: block;
    padding: 0 22% 0 40%;
}

.news-channel a h2 {
    font-size: 18px;
    color: #002d7b;
    font-weight: bold;
}

.news-channel a h3 {
    font-size: 14px;
    color: #002d7b;
    margin: 0;
    padding: 0;
}

.news-channel-content {
    width: 30%;
    padding-top: 70px;
    border-right: 10px green;
    display: flex;
}

.news-channel-content1 {
    float: left;
    width: 10%;
    min-width: 45px;
}

.news-channel-content1 img {
    border: 0;
    vertical-align: middle;
}

.news-channel-content2 {
    width: 70%
}

.news-channel-content2 img {
    width: 100%;
}

.news-channel-content2 h3 {
    font-size: 14px;
    display: block;
    padding: 8px 0 0;
    color: #333;
    font-weight: bold
}

.news-channel-content2 span {
    display: block;
    font-size: 12px;
    padding-bottom: 15px;
}

.news-channel-content2 h2 {
    background: #002d7b;
    text-align: center;
    width: 108px;
    height: 38px;
    border-radius: 3px;
    line-height: 1.45;
}

.news-channel-content2 h2 a {
    color: #fff;
    line-height: 38px;
    font-size: 12px;
    font-weight: normal;
}

.news-channel-content3 {
    width: 40%;
    height: 520px;
    background: url(/img/upload/case/newsline.jpg) repeat-y 17% top;
}

.news-channel-content3 ul {
    padding-top: 40px;
}

.news-channel-content3 ul li {
    width: 80%;
    display: flex;
    height: 90px
}

.news-channel-content3 ul li h3 {
    color: #333;
    text-align: right;
    width: 110px;
    font-weight: normal;
    height: 60px;
    padding-top: 25px;
    padding-right: 30px;
}

.news-channel-content3 ul li h3 span {
    font-size: 16px;
    color: #333;
    display: block;
}

.index-news-list {
    width: 78%;
    min-width: 78%;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
}

.index-news-list h2 {
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
}

.index-news-list h2 a {
    color: #333;
    text-decoration: none;
}