.active {
    background: #353535;
    border-radius: 0;
    color: #fff;
}

.content-main {
    background-color: #ffffff;
    width: 85%;
    margin: 0 auto;
    height: 100%;
}

.flex {
    display: flex;
}

.content-img-list {
    width: 100%;
    margin: 0 auto;
}

.banimg {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: space-around;
}

.content-img-list ul li {
    float: left;
    padding-bottom: 2%;
    text-align: -webkit-match-parent;
}

.content-img-list ul li a {
    border-bottom: 10px solid #fff;
    display: inline-block;
    text-decoration: none;
    color: #585858;
    cursor: pointer;
    z-index: 3333;
}
.case-i{
    margin: 10px 0 15px;
}

.case-i a{
    cursor: pointer;
    margin: auto 0;
}

.case-img {
    display: table-cell;
    padding: 0 8px;
    overflow: hidden;
    vertical-align: middle;
}

.flag {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.case-img img {
    width: 100%;
    border: 0;
    transition: all 0.3s ease-out 0s;
}

.case-img img:hover {
    transform: scale(1.0);
}

.case-info {
    width: 100%;
    padding: 0 8px;
    transition: all 0.3s ease-out 0s;
}

.case-title {
    font-weight: normal;
    font-size: 12px;
    color: #999;
    display: block;
    padding: 0;
    margin: 0;
}

.case-info h1 {
    font-weight: normal;
    font-size: 14px;
    color: #333333;
    display: block;
    padding: 10px 0;
    line-height: 18px;
}


.content-main1 {
    width: 100%;
    display: block;
    position: relative;
    padding-top: 42%;
    margin: 0 auto;
}

.content-main1-child {
    position: absolute;
    top: 8%;
    margin: 0 auto;
    width: 100%;
}

.content-main1 h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 auto 2%;
    color: #002d7b;
    font-weight: normal;
}

.content-main1 i {
    width: 5%;
    background: #cccccc;
    height: 1px;
    display: inline-block;
    margin: 10px;
}
