<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>登录-亿创电力集团后台管理</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/mgr/css/font.css">
    <link rel="stylesheet" href="/mgr/css/login.css">
    <link rel="stylesheet" href="/mgr/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/mgr/lib/layui/layui.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">亿创电力集团-管理登录</div>
    <div id="darkbannerwrap"></div>
    <form method="post" class="layui-form">
        <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <div style="display: flex;height: 50px">
            <input name="code" lay-verify="required" placeholder="验证码" class="layui-input" style="height: 50px"
                   maxlength="4">
            <img id="codeImg" width="180px;" height="100%" onclick="getCode()">
        </div>
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>

<script>
    $(function () {
        // 获取验证码
        getCode();
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(login)', function (data) {
                var _data = JSON.stringify(data.field);
                var _url = "/mgr/admin/login";
                $.ajax({
                    type: "post",
                    url: _url,
                    data: _data,
                    dataType: "JSON",
                    contentType: "application/json;charset=utf-8",
                    success: function (res) {
                        if (res.errCode != 1) {
                            alert(res.errInfo);
                        } else {
                            window.localStorage.setItem("username",data.field.username);
                            window.location.href = "/front/public/admin/index";
                        }
                    }
                });
                return false;
            });
        });
    });

    /**
     * 获取验证码
     */
    function getCode() {
        var _url = "/code/getCaptchaBase64";
        $.ajax({
            type: "GET",
            url: _url,
            data: {},
            success: function (res) {
                $("#codeImg").attr("src", res.url);
            }
        })
    }
</script>
</body>
</html>