@#
layout("../common/base.html",{title:'亿创电力集团',nav:'index',header_css:""}){
#@
<div style="width:100%;height:480px;min-width: 100%;min-height: 480px;margin-top: 87px">
    <div class="layui-carousel" id="test1">
        <div carousel-item>
            <div><img style="width:auto;height:480px;min-width:100%" src="/img/upload/01.jpg"></div>
            <div><img style="width:auto;height:480px;min-width:100%" src="/img/upload/02.jpg"></div>
            <div><img style="width:auto;height:480px;min-width:100%" src="/img/upload/03.jpg"></div>
        </div>
    </div>
</div>

<div style="margin-top:90px;width:100%;height:90%; background: url(/img/upload/mian1bg.png);background-size:100% 100%;">
    <div>
        <span style="text-align: center;display: block;margin: 1% auto 1%;color: #fe0c0c;font-size: 20px;">总裁寄语</span>
        <h2 style="font-size: 30px;text-align: center;margin: 0% auto 2%;color: #002d7b;font-weight: normal;">
            <i style="width: 5%;background: #cccccc;height: 1px;display: inline-block;margin: 10px;"></i>
            让光明成就您的事业 让光明实现您的梦想
            <i style="width: 5%;background: #cccccc;height: 1px;display: inline-block;margin: 10px;"></i>
        </h2>
        <h3 style="font-size: 15px;text-align: left;width: 75%;margin: 0px auto;">各界新老朋友：<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时光荏苒，岁月飞逝。二十多年以来，在各界的关心、厚爱、包容、帮助和支持下，亿创电力建设集团已经发展成为集高效服务社会、服务民生、服务于各界事业并不断创新的电力建设明星企业。在企业的发展过程中，我们始终本着"让光明成就您的事业，让光明实现您的梦想"的企业理念，尽心打造高品质、高质量的服务型企业，使我们朝气蓬勃迈向创新发展的新时代。<br>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着社会经济的快速发展，我们在不断摸索企业多元发展的模式，在电力建设的发展史上已涉及设计、建设、施工、监理、投资、水电、风电、金融、教育等领域，感谢各界朋友给我们提供的机遇及挑战、安慰和鼓舞，使我们不断地成长壮大，也使我们在今后共同发展的道路上更有信心、更有能力去完成各界新老朋友交给我们的重任。<br>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在这历史发展的新时期，我们正担负起历史的使命和社会责任，带着各界朋友的重托和鞭策，积极应对困难和挑战，与时俱进加快创建一流服务型企业、创建优质、客户满意的工程，共同为追求崇高的事业而不懈努力。展望明天，我们更需要各界朋友的爱护和帮助，以合作共赢为共同目标，努力成就您的事业是我们的责任和义务。我们将以不忘初心、共创未来，坚守"辛苦我一人，幸福百万家"的精神，继续前行，百尺竿头，更上一层楼，力求完美的实现我们的奋斗目标，为国家和社会奉献应有的力量，增添绚丽的光彩。<br>
            <br>
            <div style="text-align:right; padding:10px 0 50px;">集团总裁:<img src="/img/upload/qianzi.png"></div>
        </h3>
    </div>
</div>

<div style="position:relative; display:block;width:100%;height:480px; background: url(/img/upload/mian2bg.jpg) no-repeat top center;">
    <div style="position:absolute;top: 15%;margin:0 auto;width: 100%">
        <h1 style="font-size: 30px;font-weight: normal;color: #fff; text-align: center;">BUSINESS SCOPE</h1>
        <span style="display: block;margin: 1% auto;text-align: center;color: #fff;font-size: 20px;">业务范围</span>
    </div>
    <div style="position:relative;top:48%;margin:0 auto;padding: 0 5%;">
        <ul style="width:100%;display:flex;justify-content:space-around;">
            <li>
                <a href="javascript:void(this)">
                    <img style="vertical-align: middle;" src="/img/upload/case/main2ico1.png"/>
                    <h4 style="color: #fff;font-weight: normal;font-size: 16px;width: 100%;text-align: center;margin: 5px auto;">
                        电力工程施工建设</h4>
                </a>
            </li>
            <li>
                <a href="javascript:void(this)">
                    <img style="vertical-align: middle;" src="/img/upload/case/main2ico2.png"/>
                    <h4 style="color: #fff;font-weight: normal;font-size: 16px;width: 100%;text-align: center;margin: 5px auto;">
                        水电开发与投资</h4>
                </a>
            </li>
            <li>
                <a href="javascript:void(this)">
                    <img style="vertical-align: middle;" src="/img/upload/case/main2ico3.png">
                    <h4 style="color: #fff;font-weight: normal;font-size: 16px;width: 100%;text-align: center;margin: 5px auto;">
                        风电投资</h4>
                </a>
            </li>
            <li>
                <a href="javascript:void(this)">
                    <img style="vertical-align: middle;" src="/img/upload/case/main2ico4.png">
                    <h4 style="color: #fff;font-weight: normal;font-size: 16px;width: 100%;text-align: center;margin: 5px auto;">
                        电力设备检修</h4>
                </a>
            </li>
            <li>
                <a href="javascript:void(this)">
                    <img style="vertical-align: middle;" src="/img/upload/case/main2ico5.png">
                    <h4 style="color: #fff;font-weight: normal;font-size: 16px;width: 100%;text-align: center;margin: 5px auto;">
                        售电</h4>
                </a>
            </li>
            <li>
                <a href="javascript:void(this)">
                    <img style="vertical-align: middle;" src="/img/upload/case/main2ico6.png">
                    <h4 style="color: #fff;font-weight: normal;font-size: 16px;width: 100%;text-align: center;margin: 5px auto;">
                        设备制造</h4>
                </a>
            </li>
        </ul>
    </div>
</div>

<div style="display:flex;width:100%;height:520px;background: url(/img/upload/footbg.png) left bottom no-repeat;">
    <div style="float: left;width: 30%;padding-top: 70px;">
        <a href="javascript:void(this)" style="display: block;padding: 0 22% 0 40%;">
            <h2 style="font-size: 18px;color: #002d7b;font-weight: bold">新闻中心</h2>
            <h3 style="font-size: 14px;color: #002d7b;font-weight: bold">NEWS CENTER</h3>
        </a>
    </div>
    <div style="width: 30%; padding-top:70px;border-right:10px green;display: flex">
        <div style="float: left;width: 10%;min-width: 45px;">
            <img style="border: 0;vertical-align: middle;" src="/img/upload/case/newico.jpg">
        </div>
        <div style="width: 70%">
            <img width="100%" src="/img/upload/case/201806080855407869.jpg">
            <h3 style="font-size: 14px;display: block;padding: 20px 0 10px;color: #333;font-weight: bold">
                新疆维吾尔自治区电力承装修试企业协会骞广元秘书长一行来闽调...</h3>
            <span style="display: block;padding-bottom: 20px;">5月10—11日，新疆维吾尔自治区电力承装修试企业协会骞广元秘书长一行7人来闽调研，与福建省电力企业协会就电工培训考试、职称评定、信用评价、会员...</span>
            <h2 style="background: #002d7b;text-align: center;width: 108px;height: 38px;border-radius: 3px;">
                <a href="" style="color: #fff;line-height: 38px;font-size: 12px;font-weight: normal;">MORE+</a>
            </h2>
        </div>
    </div>

    <div style="width: 40%;height: 520px; background: url(/img/upload/case/newsline.jpg) repeat-y 17% top;">
        <ul style="padding-top: 40px; ">
            <li style="width: 80%;display: flex;height: 90px">
                <h3 style="color: #333;text-align:right;width: 110px;font-weight: normal;height: 60px;padding-top: 25px;padding-right: 30px">
                    <span style="font-size: 16px;color: #333;display: block;">10-24</span>2019
                </h3>
                <div style="width: 78%;min-width:78%;display: flex;border-bottom: 1px solid #e5e5e5;align-items: center;">
                    <h2 style="font-size: 14px;font-weight:bold;padding-left: 20px">
                        <a style="color: #333; text-decoration: none;"
                           href="news_ny.php?classid=194&amp;infoid=996">亿创集团应邀参加2019海峡两岸能源合作平...</a>
                    </h2>
                </div>
            </li>
            <li style="width: 80%;display: flex;height: 90px">
                <h3 style="color: #333;text-align:right;width: 110px;font-weight: normal;height:60px;padding-top: 25px;padding-right: 30px;">
                    <span style="font-size: 16px;color: #333;display: block;text-align: right;">08-07</span>2019
                </h3>
                <div style="width: 78%;min-width:78%;display: flex;border-bottom: 1px solid #e5e5e5;align-items: center;">
                    <h2 style="font-size:14px;font-weight:bold;padding-left: 20px">
                        <a style="color: #333;text-decoration: none;"
                           href="news_ny.php?classid=183&amp;infoid=995">福建省电力企业协会三届一次会员大会在福...</a>
                    </h2>
                </div>
            </li>
            <li style="width: 80%;display: flex;height: 90px">
                <h3 style="color: #333;text-align:right;width: 110px;font-weight: normal;height: 60px;padding-top: 25px;padding-right: 30px;">
                    <span style="font-size: 16px;color: #333;display: block;text-align: right;">06-24</span>2019
                </h3>
                <div style="width: 78%;min-width:78%;display: flex;border-bottom: 1px solid #e5e5e5;align-items: center;">
                    <h2 style="font-size: 14px;font-weight:bold;padding-left: 20px">
                        <a style="color: #333; text-decoration: none;"
                           href="news_ny.php?classid=183&amp;infoid=994">福建省电力企业协会组织开展“精准扶贫 ...</a>
                    </h2>
                </div>
            </li>
        </ul>
    </div>
</div>

<div style="height: 190px;width: 100%; display:flex;background: url(/img/upload/footbg.jpg) no-repeat center top">
    <div style="width: 65%; margin: 55px 0 0 170px ">
        <div style="display: flex; width: 100%; padding: 25px 0">
            <select name="1" id="1"
                    style="width:232px;height: 30px;border: none;padding: 0 5px;margin-right: 1%;margin-bottom: 1%;">
                <option aria-checked="true"
                        style="font-weight: normal;display: block;white-space: pre;min-height: 1.2em;padding: 0 2px 1px;">
                    政府机构
                </option>
            </select>
            <select name="2" id="2"
                    style="width:232px;height:30px;line-height: 30px;border: none;padding: 0 5px;margin-right: 1%;margin-bottom: 1%;">
                <option aria-checked="true"
                        style="font-weight: normal;display: block;white-space: pre;min-height: 1.2em;padding: 0 2px 1px;">
                    行业链接
                </option>
            </select>
            <select name="3" id="3"
                    style="width:86px;height: 30px;line-height: 30px;border: none;padding: 0 5px;margin-right: 1%;margin-bottom: 1%;">
                <option aria-checked="true"
                        style="font-weight: normal;display: block;white-space: pre;min-height: 1.2em;padding: 0 2px 1px;">
                    新闻媒体
                </option>
            </select>
        </div>
        <div>
            <div style="margin-top: 0;color: white">COPYRIGHT © 2016 亿创电力建设集团 All rights reserved<br>
                <a href="http://www.miitbeian.gov.cn" target="_blank" style="color: white">闽ICP备19012103号</a>
                技术支持：
                <a href="http://www.shytong.com/" target="_blank" style="color: white">福州数语网络科技有限公司</a>
            </div>
        </div>
    </div>

    <!--    <div style="min-width: 35%;width: 35%;height: 100%;">-->

    <!--    </div>-->
</div>

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1',
            width: '100%', //设置容器宽度
            height: '100%',
            arrow: 'always' //始终显示箭头
            // ,anim: 'updown' //切换动画方式
        });
    });
</script>
@# } #@
