@#
layout("../common/base.html",{title:'亿创电力集团',nav:'index',header_css:""}){
#@
<!--轮播-->
<div style="padding-top: 87px;">
    <div class="wrapper-img">
        <div class="img"></div>
    </div>
</div>

<div class="wrapper-content">
    <div class="content-title">
        <div class="title">诚聘英才</div>
        <div class="subtitle">TALENTS WANTED</div>
    </div>

    <div class="content-main">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
            <tr class="firstRow">
                <td width="14%" align="middle" valign="top"
                    style="padding: 0px 7px; border-color: rgb(217, 217, 217); background: rgb(49, 84, 186);"><p
                        style="margin-top: 8px; margin-bottom: 8px; line-height: 24px;"><strong><span
                        style="color: white; line-height: 24px; font-family: 宋体;">集团部门</span></strong><strong></strong>
                </p></td>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-left: medium none rgb(240, 240, 240); border-top-color: rgb(217, 217, 217); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(49, 84, 186);">
                    <p style="margin-top: 8px; margin-bottom: 8px; line-height: 24px;"><strong><span
                            style="color: white; line-height: 24px; font-family: 宋体;">岗位</span></strong><strong></strong>
                    </p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-left: medium none rgb(240, 240, 240); border-top-color: rgb(217, 217, 217); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(49, 84, 186);">
                    <p style="margin-top: 8px; margin-bottom: 8px; text-align: center; line-height: 24px;">
                        <strong><span
                                style="color: white; line-height: 24px; font-family: 宋体;">职位要求</span></strong><strong></strong>
                    </p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-left: medium none rgb(240, 240, 240); border-top-color: rgb(217, 217, 217); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(49, 84, 186);">
                    <p style="margin-top: 8px; margin-bottom: 8px; text-align: center; line-height: 24px;">
                        <strong><span
                                style="color: white; line-height: 24px; font-family: 宋体;">工作概述</span></strong><strong></strong>
                    </p></td>
            </tr>
            <tr>
                <td width="14" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); border-left-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><strong><span style="font-family: 宋体;">行政管理部</span></strong></p></td>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">司机</span></p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">招聘对象：社会人士</span></p>
                    <p><span style="font-family: 宋体;">工作时间要求：全职</span></p>
                    <p><span style="font-family: 宋体;">学历要求：高中以上</span></p>
                    <p><span style="font-family: 宋体;">性别要求：男</span></p>
                    <p><span style="font-family: 宋体;">职称要求：不限</span></p>
                    <p><span style="font-family: 宋体;">年龄要求：</span><span style="font-family: Calibri;">25</span><span
                            style="font-family: 宋体;">岁</span>&nbsp;<span style="font-family: 宋体;">至</span><span
                            style="font-family: Calibri;">&nbsp;40</span><span style="font-family: 宋体;">岁</span></p>
                    <p><span style="font-family: 宋体;">工作地点：福州市</span></p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: Calibri;">1</span><span
                            style="font-family: 宋体;">、负责公司总裁接送或公司外事接送；</span></p>
                    <p><span style="font-family: Calibri;">2</span><span
                            style="font-family: 宋体;">、负责公司车辆保养、维修和清洁工作；</span></p>
                    <p><span style="font-family: Calibri;">3</span><span style="font-family: 宋体;">、协助处理公司车辆保险、索赔、年检、油卡充值办理；</span>
                    </p>
                    <p><span style="font-family: Calibri;">4</span><span
                            style="font-family: 宋体;">、协助处理日常行政事务。</span></p></td>
            </tr>
            <tr>
                <td width="14" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); border-left-color: rgb(217, 217, 217);">
                    <p><strong><span style="font-family: 宋体;">成本控制部</span></strong></p></td>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">电气安装造价员</span></p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">招聘对象：社会人士</span></p>
                    <p><span style="font-family: 宋体;">工作时间要求：全职</span></p>
                    <p><span style="font-family: 宋体;">学历要求：大专以上</span></p>
                    <p><span style="font-family: 宋体;">性别要求：不限</span></p>
                    <p><span style="font-family: 宋体;">职称要求：初级职称以上</span></p>
                    <p><span style="font-family: 宋体;">年龄要求：</span><span style="font-family: Calibri;">23</span><span
                            style="font-family: 宋体;">岁</span>&nbsp;<span style="font-family: 宋体;">至</span><span
                            style="font-family: Calibri;">&nbsp;50</span><span style="font-family: 宋体;">岁</span></p>
                    <p><span style="font-family: 宋体;">工作地点：福州</span></p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: Calibri;">1</span><span
                            style="font-family: 宋体;">、电气高低压设备安装预决算；</span></p>
                    <p><span style="font-family: Calibri;">2</span><span
                            style="font-family: 宋体;">、投标报价，标书的制作与审核。</span></p></td>
            </tr>
            <tr>
                <td width="14" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); border-left-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><strong><span style="font-family: 宋体;">工程管理部</span></strong></p></td>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">项目经理</span></p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">招聘对象：社会人士</span></p>
                    <p><span style="font-family: 宋体;">工作时间要求：全职</span></p>
                    <p><span style="font-family: 宋体;">学历要求：大专以上</span></p>
                    <p><span style="font-family: 宋体;">性别要求：男</span></p>
                    <p><span style="font-family: 宋体;">职称要求：初级职称以上</span></p>
                    <p><span style="font-family: 宋体;">年龄要求：</span><span style="font-family: Calibri;">28</span><span
                            style="font-family: 宋体;">岁</span>&nbsp;<span style="font-family: 宋体;">至</span><span
                            style="font-family: Calibri;">&nbsp;40</span><span style="font-family: 宋体;">岁</span></p>
                    <p><span style="font-family: 宋体;">工作地点：福州市</span><span
                            style="font-family: Calibri;">,</span><span style="font-family: 宋体;">厦门市</span><span
                            style="font-family: Calibri;">,</span><span style="font-family: 宋体;">莆田市</span><span
                            style="font-family: Calibri;">,</span><span style="font-family: 宋体;">三明市</span><span
                            style="font-family: Calibri;">,</span><span style="font-family: 宋体;">泉州市</span><span
                            style="font-family: Calibri;">,</span><span style="font-family: 宋体;">漳州市</span><span
                            style="font-family: Calibri;">,</span><span style="font-family: 宋体;">南平市</span><span
                            style="font-family: Calibri;">,</span><span style="font-family: 宋体;">宁德市</span><span
                            style="font-family: Calibri;">,</span><span style="font-family: 宋体;">龙岩市</span></p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">电力工程项目流程管理及施工过程中的质量、工期、内业等管理。</span></p></td>
            </tr>
            <tr>
                <td width="14" align="middle" valign="top" rowspan="2"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); border-left-color: rgb(217, 217, 217);">
                    <p><strong><span style="font-family: 宋体;">物资供应部</span></strong></p></td>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">物资采购经理</span></p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">招聘对象：社会人士</span></p>
                    <p><span style="font-family: 宋体;">工作时间要求：全职</span></p>
                    <p><span style="font-family: 宋体;">学历要求：大专以上</span></p>
                    <p><span style="font-family: 宋体;">性别要求：男</span></p>
                    <p><span style="font-family: 宋体;">职称要求：不限</span></p>
                    <p><span style="font-family: 宋体;">年龄要求：</span><span style="font-family: Calibri;">25</span><span
                            style="font-family: 宋体;">岁</span>&nbsp;<span style="font-family: 宋体;">至</span><span
                            style="font-family: Calibri;">&nbsp;45</span><span style="font-family: 宋体;">岁</span></p>
                    <p><span style="font-family: 宋体;">工作地点：福州</span></p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">负责</span><span style="font-family: Calibri;">10kV</span><span
                            style="font-family: 宋体;">及</span><span style="font-family: Calibri;">110kV</span><span
                            style="font-family: 宋体;">电力工程物资供应与项目的管理及协调解决物资供应过程出现的问题。</span></p></td>
            </tr>
            <tr>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">物资采购专员</span></p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">招聘对象：社会人士</span></p>
                    <p><span style="font-family: 宋体;">工作时间要求：全职</span></p>
                    <p><span style="font-family: 宋体;">学历要求：大专以上</span></p>
                    <p><span style="font-family: 宋体;">性别要求：不限</span></p>
                    <p><span style="font-family: 宋体;">职称要求：不限</span></p>
                    <p><span style="font-family: 宋体;">年龄要求：</span><span style="font-family: Calibri;">25</span><span
                            style="font-family: 宋体;">岁</span>&nbsp;<span style="font-family: 宋体;">至</span><span
                            style="font-family: Calibri;">&nbsp;35</span><span style="font-family: 宋体;">岁</span></p>
                    <p><span style="font-family: 宋体;">工作地点：福州市</span></p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: Calibri;">1.</span><span
                            style="font-family: 宋体;">协助供配电工程的物资采购工作。</span></p>
                    <p><span style="font-family: Calibri;">2.</span><span
                            style="font-family: 宋体;">参与重要材料及设备进场前的验收工作。</span>
                    </p></td>
            </tr>
            <tr>
                <td width="14" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); border-left-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><strong><span style="font-family: 宋体;">营销中心</span></strong></p></td>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">市场商务专员</span></p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">招聘对象：社会人士</span></p>
                    <p><span style="font-family: 宋体;">工作时间要求：全职</span></p>
                    <p><span style="font-family: 宋体;">学历要求：大专以上</span></p>
                    <p><span style="font-family: 宋体;">性别要求：不限</span></p>
                    <p><span style="font-family: 宋体;">职称要求：不限</span></p>
                    <p><span style="font-family: 宋体;">年龄要求：</span><span style="font-family: Calibri;">25</span><span
                            style="font-family: 宋体;">岁</span>&nbsp;<span style="font-family: 宋体;">至</span><span
                            style="font-family: Calibri;">&nbsp;40</span><span style="font-family: 宋体;">岁</span></p>
                    <p><span style="font-family: 宋体;">工作地点：福州市</span></p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">负责集团在高低压电力工程市场的信息收集和客户的开发与维护；</span></p></td>
            </tr>
            <tr>
                <td width="14" align="middle" valign="top" rowspan="3"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); border-left-color: rgb(217, 217, 217);">
                    <p><strong><span style="font-family: 宋体;">下属设计院</span></strong></p></td>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">设计院院长</span></p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">招聘对象：社会人士</span></p>
                    <p><span style="font-family: 宋体;">工作时间要求：全职</span></p>
                    <p><span style="font-family: 宋体;">学历要求：本科以上</span></p>
                    <p><span style="font-family: 宋体;">性别要求：男</span></p>
                    <p><span style="font-family: 宋体;">职称要求：中级职称以上</span></p>
                    <p><span style="font-family: 宋体;">年龄要求：</span><span style="font-family: Calibri;">28</span><span
                            style="font-family: 宋体;">岁</span>&nbsp;<span style="font-family: 宋体;">至</span><span
                            style="font-family: Calibri;">&nbsp;45</span><span style="font-family: 宋体;">岁</span></p>
                    <p><span style="font-family: 宋体;">工作地点：福州市</span></p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: Calibri;">1</span><span style="font-family: 宋体;">、负责主导设计院整体发展。结合集团发展战略，制定设计院发展规划目标，制定设计院年度经营计划和预算方案，拟定设计院年度工作目标计划和预算方案并组织实施；</span>
                    </p>
                    <p><span style="font-family: Calibri;">2</span><span style="font-family: 宋体;">、全面负责设计院日常管理工作，制定并实施年度工作目标、季度、月度工作计划；</span>
                    </p>
                    <p><span style="font-family: Calibri;">4</span><span style="font-family: 宋体;">、参与项目客户沟通和设计方案规划，凸显品牌地位和技术优势；</span>
                    </p>
                    <p><span style="font-family: Calibri;">5</span><span
                            style="font-family: 宋体;">、参与设计方案、图纸、资料的审查，签署意见；</span>
                    </p>
                    <p><span style="font-family: Calibri;">6</span><span
                            style="font-family: 宋体;">、对在建项目设计情况、重大变更设计实地检查；</span>
                    </p>
                    <p><span style="font-family: Calibri;">7</span><span
                            style="font-family: 宋体;">、全面控制院内所有工作。</span></p></td>
            </tr>
            <tr>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">设计院副院长（营销）</span></p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">招聘对象：社会人士</span></p>
                    <p><span style="font-family: 宋体;">工作时间要求：全职</span></p>
                    <p><span style="font-family: 宋体;">学历要求：本科以上</span></p>
                    <p><span style="font-family: 宋体;">性别要求：不限</span></p>
                    <p><span style="font-family: 宋体;">职称要求：中级职称以上</span></p>
                    <p><span style="font-family: 宋体;">年龄要求：</span><span style="font-family: Calibri;">25</span><span
                            style="font-family: 宋体;">岁</span>&nbsp;<span style="font-family: 宋体;">至</span><span
                            style="font-family: Calibri;">&nbsp;45</span><span style="font-family: 宋体;">岁</span></p>
                    <p><span style="font-family: 宋体;">工作地方：福州市</span></p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: Calibri;">1.</span><span
                            style="font-family: 宋体;">负责设计院的市场经营、技术质量管理工作；</span><span
                            style="font-family: Calibri;">&nbsp;</span></p>
                    <p><span style="font-family: Calibri;">2.</span><span style="font-family: 宋体;">结合集团发展战略协助院长制定设计院的经营发展战略规划，并负责监督实施和持续改进。</span><span
                            style="font-family: Calibri;">&nbsp;</span></p>
                    <p><span style="font-family: Calibri;">3.</span><span style="font-family: 宋体;">负责分管部门的规章制度的建立和完善并组织实施、检查和考核。制定分管工作的年度计划并监督实施执行。根据本院的发展规划整合资源并合理配置（人力、技术、资质、营销渠道等等）。</span><span
                            style="font-family: Calibri;">&nbsp;</span></p>
                    <p><span style="font-family: Calibri;">4.</span><span style="font-family: 宋体;">领导市场部聚集集团内部以及外部的市场资源要素并进行统筹配置，以寻找和发现市场为目标，进行营销并开拓市场。</span><span
                            style="font-family: Calibri;">&nbsp;<br>5.</span><span style="font-family: 宋体;">推动设计院自营业务的开展，进一步提高设计院自营能力。</span><span
                            style="font-family: Calibri;">&nbsp;</span></p>
                    <p><span style="font-family: Calibri;">6.</span><span style="font-family: 宋体;">负责主持重大项目技术问题研讨会，负责组织解决项目设计、施工中的重大技术问题；</span><span
                            style="font-family: Calibri;">&nbsp;</span></p>
                    <p><span style="font-family: Calibri;">7.</span><span style="font-family: 宋体;">推动设计院经营、技术质量管理方面的信息化工作，提高整体经营管理水平。</span>
                    </p>
                    <p><span style="font-family: Calibri;">8.</span><span
                            style="font-family: 宋体;">与集团其它业务板块间的协调与互动。</span><span
                            style="font-family: Calibri;">&nbsp;</span>
                    </p>
                    <p><span style="font-family: Calibri;">9.</span><span
                            style="font-family: 宋体;">完成集团或院长交办的其他任务</span></p></td>
            </tr>
            <tr>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">电气设计人员</span></p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">招聘对象：社会人士</span></p>
                    <p><span style="font-family: 宋体;">工作时间要求：全职</span></p>
                    <p><span style="font-family: 宋体;">学历要求：大专以上</span></p>
                    <p><span style="font-family: 宋体;">性别要求：不限</span></p>
                    <p><span style="font-family: 宋体;">职称要求：初级职称以上</span></p>
                    <p><span style="font-family: 宋体;">年龄要求：</span><span style="font-family: Calibri;">25</span><span
                            style="font-family: 宋体;">岁</span>&nbsp;<span style="font-family: 宋体;">至</span><span
                            style="font-family: Calibri;">&nbsp;40</span><span style="font-family: 宋体;">岁</span></p>
                    <p><span style="font-family: 宋体;">工作地点：福州市、厦门市、泉州市</span></p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217);">
                    <p><span style="font-family: 宋体;">供配电系统设计</span></p></td>
            </tr>
            <tr>
                <td width="14" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); border-left-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><strong><span style="font-family: 宋体;">下属监理公司</span></strong></p></td>
                <td width="15%" align="middle" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">监理工程师</span></p></td>
                <td width="30%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">招聘对象：社会人士</span></p>
                    <p><span style="font-family: 宋体;">工作时间要求：全职</span></p>
                    <p><span style="font-family: 宋体;">学历要求：本科以上</span></p>
                    <p><span style="font-family: 宋体;">性别要求：男</span></p>
                    <p><span style="font-family: 宋体;">职称要求：中级职称以上</span></p>
                    <p><span style="font-family: 宋体;">年龄要求：</span><span style="font-family: Calibri;">28</span><span
                            style="font-family: 宋体;">岁</span>&nbsp;<span style="font-family: 宋体;">至</span><span
                            style="font-family: Calibri;">&nbsp;50</span><span style="font-family: 宋体;">岁</span></p>
                    <p><span style="font-family: 宋体;">工作地点：福州市</span></p></td>
                <td width="40%" valign="top"
                    style="padding: 0px 7px; border-top: medium none rgb(240, 240, 240); border-left: medium none rgb(240, 240, 240); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); background: rgb(222, 234, 246);">
                    <p><span style="font-family: 宋体;">具有一定现场施工、监理工作经验，具有省级以上注册执业资格证书者优先录用。</span></p></td>
            </tr>
            </tbody>
        </table>
        <p style="white-space: normal; line-height: 24px;"><span font-size:=""
                                                                 style="background: white; color: rgb(88, 88, 88);">&nbsp;</span>
        </p>
        <p style="white-space: normal; line-height: 24px;">&nbsp;</p>
        <table width="100%">
            <tbody>
            <tr class="firstRow">
                <td width="60%"><br></td>
                <td><p><strong><span
                        style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">联 系人：</span></strong><span
                        style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">行政管理部</span>
                </p>
                    <p><strong><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">机构网址：</span></strong><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;"><a
                            href="http://www.zgycdl.com/"><span
                            style="color: rgb(88, 88, 88);">http://www.zgycdl.com</span></a></span>
                    </p>
                    <p style="line-height: 24px;"><strong><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">邮政号码：</span></strong><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">350013</span>
                    </p>
                    <p><strong><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">联系电话：</span></strong><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">0591-87588017</span><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">转802</span>
                    </p>
                    <p><strong><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">传真号码：</span></strong><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">0591-87588097</span>
                    </p>
                    <p><span style="line-height: 24px;"><strong><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">联系地址：</span></strong><span
                            style="background: white; color: rgb(51, 51, 51); font-family: 宋体; font-size: 14px;">华林路338号龙赋大厦（南洋饭店旁边，恒丰银行后面）</span></span>
                    </p></td>
            </tr>
            </tbody>
        </table>
        <p><br></p>
    </div>
</div>
@# } #@