<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MgrMapper">
    <select id="selectMgrDo" parameterType="java.lang.String" resultType="com.shytong.modules.mgr.model.MgrDo">
        select
        mgr_id AS mgrId,
        org_id AS orgId,
        account,
        pwd,
        phone,
        avatar,
        nickname,
        status,
        `type` AS type,
        is_deleted
        from
        sy_mgr
        where
            account = #{_parameter,jdbcType=VARCHAR}
            AND is_deleted = 0
    </select>

    <select id="login" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
            count(1)
        FROM
           sy_mgr
        where
            account = #{username,jdbcType=VARCHAR}
            AND pwd = #{password,jdbcType=VARCHAR}
            AND is_deleted = 0
    </select>

    <!--  修改  -->
    <update id="update" parameterType="com.shytong.modules.mgr.model.MgrDo">
        UPDATE sy_mgr
        <trim prefix="set" suffixOverrides=",">
            <if test="orgId != null and orgId != ''">
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null and pwd != ''">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="type != null and type != ''">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType= TIMESTAMP},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType= VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType= TIMESTAMP},
            </if>
            <if test="editorId != null">
                editor_id = #{editorId,jdbcType= VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType= INTEGER},
            </if>
        </trim>
        WHERE
        account = #{account,jdbcType=VARCHAR}
    </update>
</mapper>