<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MgrMapper">
    <select id="login" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
            count(1)
        FROM
           sy_mgr
        where
            account = #{username,jdbcType=VARCHAR}
            AND pwd = #{password,jdbcType=VARCHAR}
            AND is_deleted = 0
    </select>

    <!--  修改  -->
    <update id="update" parameterType="com.shytong.modules.mgr.model.MgrDo">
        UPDATE sy_article
        <trim prefix="set" suffixOverrides=",">
            <if test="channelId != null">
                channel_id = #{channelId,jdbcType=INTEGER},
            </if>
            <if test="postTime != null">
                post_time = #{postTime,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="titleImg != null">
                title_img = #{titleImg,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="recommend != null">
                recommend = #{recommend,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="clickCount != null">
                click_count = #{clickCount,jdbcType=INTEGER},
            </if>
            <if test="topPrior!=null">
                top_prior = #{topPrior,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType= TIMESTAMP},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType= VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType= TIMESTAMP},
            </if>
            <if test="editorId != null">
                editor_id = #{editorId,jdbcType= VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType= INTEGER},
            </if>
        </trim>
        WHERE
        id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>