<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author zhr 创建时间 2017-09-02 16:54:19-->
<mapper namespace="sysResource">
    <!--baseresult-->

    <resultMap id="BaseResultMap"   type="com.shytong.modules.sys.resource.model.SysResourceDo">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="org_id" property="orgId" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="param" property="param" jdbcType="VARCHAR" />
        <result column="info" property="info" jdbcType="VARCHAR" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="editor_id" property="editorId" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
        <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
        <result column="op_type" property="opType" jdbcType="CHAR" />
        <result column="valid_type" property="validType" jdbcType="CHAR" />
        <result column="valid_value" property="validValue" jdbcType="VARCHAR" />
        <result column="sub_type" property="subType" jdbcType="VARCHAR" />
    </resultMap>



    <insert id="insert" parameterType="com.shytong.modules.sys.resource.model.SysResourceDo"   >
    insert into sy_sys_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id !=null ">
            id,
        </if>
        <if test="orgId !=null ">
            org_id,
        </if>
        <if test="code !=null ">
            code,
        </if>
        <if test="typeCode !=null ">
            type_code,
        </if>
        <if test="type !=null ">
            type,
        </if>
        <if test="name !=null ">
            name,
        </if>
        <if test="description !=null ">
            description,
        </if>
        <if test="param !=null ">
            param,
        </if>
        <if test="info !=null ">
            info,
        </if>
        <if test="gmtCreate !=null ">
            gmt_create,
        </if>
        <if test="creatorId !=null ">
            creator_id,
        </if>
        <if test="gmtModified !=null ">
            gmt_modified,
        </if>
        <if test="editorId !=null ">
            editor_id,
        </if>
        <if test="isDeleted !=null ">
            is_deleted,
        </if>
        <if test="parentId !=null ">
            parent_id,
        </if>
        <if test="opType !=null ">
            op_type,
        </if>
        <if test="validType !=null ">
            valid_type,
        </if>
        <if test="validValue !=null ">
            valid_value,
        </if>
        <if test="subType !=null ">
            sub_type,
        </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id !=null ">
            #{id,jdbcType=VARCHAR},
        </if>
        <if test="orgId !=null ">
            #{orgId,jdbcType=VARCHAR},
        </if>
        <if test="code !=null ">
            #{code,jdbcType=VARCHAR},
        </if>
        <if test="typeCode !=null ">
            #{typeCode,jdbcType=VARCHAR},
        </if>
        <if test="type !=null ">
            #{type,jdbcType=VARCHAR},
        </if>
        <if test="name !=null ">
            #{name,jdbcType=VARCHAR},
        </if>
        <if test="description !=null ">
            #{description,jdbcType=VARCHAR},
        </if>
        <if test="param !=null ">
            #{param,jdbcType=VARCHAR},
        </if>
        <if test="info !=null ">
            #{info,jdbcType=VARCHAR},
        </if>
        <if test="gmtCreate !=null ">
            #{gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="creatorId !=null ">
            #{creatorId,jdbcType=VARCHAR},
        </if>
        <if test="gmtModified !=null ">
            #{gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="editorId !=null ">
            #{editorId,jdbcType=VARCHAR},
        </if>
        <if test="isDeleted !=null ">
            #{isDeleted,jdbcType=TINYINT},
        </if>
        <if test="parentId !=null ">
            #{parentId,jdbcType=VARCHAR},
        </if>
        <if test="opType !=null ">
            #{opType,jdbcType=CHAR},
        </if>
        <if test="validType !=null ">
            #{validType,jdbcType=CHAR},
        </if>
        <if test="validValue !=null ">
            #{validValue,jdbcType=VARCHAR},
        </if>
        <if test="subType !=null ">
            #{subType,jdbcType=VARCHAR},
        </if>
    </trim>
    </insert>

    <update id="updateSelective" parameterType="com.shytong.modules.sys.resource.model.SysResourceDo"   >
    update sy_sys_resource
    <set>
        <if test="(isAll == 1 ||  fields.id !=null ) and id !=null">
            id=#{id,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.orgId !=null ) and orgId !=null">
            org_id=#{orgId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.code !=null ) and code !=null">
            code=#{code,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.typeCode !=null ) and typeCode !=null">
            type_code=#{typeCode,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.type !=null ) and type !=null">
            type=#{type,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.name !=null ) and name !=null">
            name=#{name,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.description !=null ) and description !=null">
            description=#{description,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.param !=null ) and param !=null">
            param=#{param,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.info !=null ) and info !=null">
            info=#{info,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.gmtCreate !=null ) and gmtCreate !=null">
            gmt_create=#{gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="(isAll == 1 ||  fields.creatorId !=null ) and creatorId !=null">
            creator_id=#{creatorId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.gmtModified !=null ) and gmtModified !=null">
            gmt_modified=#{gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="(isAll == 1 ||  fields.editorId !=null ) and editorId !=null">
            editor_id=#{editorId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.isDeleted !=null ) and isDeleted !=null">
            is_deleted=#{isDeleted,jdbcType=TINYINT},
        </if>
        <if test="(isAll == 1 ||  fields.parentId !=null ) and parentId !=null">
            parent_id=#{parentId,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.opType !=null ) and opType !=null">
            op_type=#{opType,jdbcType=CHAR},
        </if>
        <if test="(isAll == 1 ||  fields.validType !=null ) and validType !=null">
            valid_type=#{validType,jdbcType=CHAR},
        </if>
        <if test="(isAll == 1 ||  fields.validValue !=null ) and validValue !=null">
            valid_value=#{validValue,jdbcType=VARCHAR},
        </if>
        <if test="(isAll == 1 ||  fields.subType !=null ) and subType !=null">
            sub_type=#{subType,jdbcType=VARCHAR},
        </if>

    </set>
    where 1=1 
    and id=#{id,jdbcType=VARCHAR} 
    </update>

    <select id="selective" parameterType="com.shytong.modules.sys.resource.model.SysResourceDo" resultType="com.shytong.modules.sys.resource.model.SysResourceDo"  >
    <trim prefix="select " suffix="" suffixOverrides=",">
        
        id as id,        
        org_id as orgId,        
        code as code,        
        type_code as typeCode,        
        type as type,        
        name as name,        
        description as description,        
        param as param,        
        info as info,        
        gmt_create as gmtCreate,        
        creator_id as creatorId,        
        gmt_modified as gmtModified,        
        editor_id as editorId,        
        is_deleted as isDeleted,        
        parent_id as parentId,        
        op_type as opType,        
        valid_type as validType,        
        valid_value as validValue,        
        sub_type as subType,    </trim>
    from sy_sys_resource where 1=1 and id=#{id} and is_deleted=0 
    </select>

    <select id="select" parameterType="com.shytong.modules.sys.resource.model.SysResourceDo" resultType="com.shytong.modules.sys.resource.model.SysResourceDo"  >
    select ${fields} from 
                sy_sys_resource where id=#{id} and is_deleted=0
    </select>

    <update id="delete" parameterType="com.shytong.modules.sys.resource.model.SysResourceDo"   >
    update  sy_sys_resource  set is_deleted=1  where 
     id=#{id,jdbcType=VARCHAR} 
    </update>



</mapper>