@#
layout("../common/base.html",{title:'亿创电力集团',nav:'index',header_css:""}){
#@
<div style="padding-top: 87px">
    <div class="wrapper-img">
        <div class="img"></div>
    </div>

    <div class="wrapper-content">
        <div class="content-title">
            <div class="title">集团简介</div>
            <div class="subtitle">GROUP PROFILE</div>
        </div>

        <div class="content-desc">
            <div style="white-space: normal;"><p>&nbsp; &nbsp; &nbsp; &nbsp;
                亿创电力建设集团是以电力工程施工建设、水电开发与投资、风电投资、电力设备检修、售电、设备制造等多产业的股份制企业。集团注册资本叁亿陆仟万元人民币，具备电力工程施工总承包叁级、机电工程施工总承包叁级、输变电工程专业承包三级资质、国家能源局颁发的承装（修、试）三级资质。企业具有承担110kV及以下的输、变、配电工程的设计、施工、安装、监理、技术咨询。承接道路照明工程、城市亮化工程和防雷接地工程的设计、建设与施工；承担中、小型水电资源的开发投资建设；风、水、火电工程的投资建设；承担城市电网改造工程的安装、维护及设备的检修、预防性试验。集团成立了福建首家电力售电营销公司，具有电网安装，检修和终端服务以及具有价格优势的电价供应。为大型商业综合体、大商场、新增终端用户提升全方位的市场化运营和管理能力，为广大用户提供便捷的"电力保姆"服务。</p>
            </div>
            <p style="white-space: normal;"><br></p>
            <p style="white-space: normal;">&nbsp; &nbsp; &nbsp; &nbsp;集团总部设在福建省福州市华林路338号龙赋大厦。在全国设有30多家分(子)公司，现有员工810人，其中工程技术人员及管理人员252人。企业已通过质量管理体系、环境管理体系和职业健康安全管理体系认证。企业成立二十多年来，为电网企业、电力用户提供全方位服务，并始终将管理标准贯彻到日常生产和建设中，不断完善企业内部管理，本着"安全质量促发展、管理创新出效益"的理念，严格加强安全质量监督。在建设工程管理中严格节点管控。做好工程售后服务，确保建设工程的优良品质。企业一直致力于服务电网建设与改造、城市电网建设与改造和国家重点项目工程、用户应急工程，实现快速服务，做能打硬仗的团队。连续多年来被政府授予"质量管理先进单位"、"重合同、守信用"单位和"最佳电力施工企业"等称号。企业积极参与市场竞争，创新管理理念，促进了企业健康稳步发展，受到各界用户的好评，与国内多家知名企业建立了电力建设服务战略性关系，共同促进优势互补、合作共赢。</p>
            <p style="white-space: normal;"><br></p>
            <p style="white-space: normal;">&nbsp; &nbsp; &nbsp; &nbsp;</p>
            <p style="white-space: normal;"><span style="font-size: 18px;"></span><br></p>
            <p style="white-space: normal;"><br><span style="font-size: 18px;"><strong>企业宗旨是：不求规模最大、但求服务最好。切实履行优质服务承诺，属于本企业承建的工程一定是优质工程、用户满意工程，对建设的工程实行终身服务。</strong></span><br>
            </p>
            <p><br></p>
            <div class="clear"></div>


            <div class="abbgline"></div>

            <br>
            <p style="white-space: normal;"><span style="color: rgb(51, 51, 51); font-size: 24px;">集团企业文化</span></p>
            <p style="white-space: normal;">Group culture</p>
            <p style="white-space: normal;">　　</p>
            <p style="white-space: normal;"><span style="font-size: 18px;"><strong>企业精神：辛苦我一人，幸福百万家<span
                    style="font-family: 宋体, SimSun;"><strong>。</strong></span>　　　　</strong></span></p>
            <p style="white-space: normal;"><span style="font-size: 18px;"><strong>经营理念：开拓、进取、超越、创新<span
                    style="font-family: 宋体, SimSun;"><strong><strong>。</strong><br></strong></span></strong></span></p>
            <p style="white-space: normal;"><span style="font-size: 18px;"><strong>发展理念：服务领先、资源共享、模式创新<span
                    style="font-family: 宋体, SimSun;"><strong><strong>。</strong><br></strong></span></strong></span></p>
            <p style="white-space: normal;"><span style="font-size: 18px;"><strong>企业使命：让光明成就您的事业、让光明实现您的梦想<span
                    style="font-family: 宋体, SimSun;"><strong><strong>。</strong><br></strong></span></strong></span></p>
            <p style="white-space: normal;"><span style="font-size: 18px;"><strong>企业理念：服务电力用户，成就员工价值，体现社会责任<span
                    style="font-family: 宋体, SimSun;"><strong><strong><strong>。</strong><br></strong></strong></span></strong></span>
            </p>
            <p style="white-space: normal;"><span
                    style="font-size: 18px;"><strong>核心价值观：合作共赢、共同发展、诚信为本、追求质量、挑战自我、创新突破<span
                    style="font-family: 宋体, SimSun;"><strong><strong><strong>。</strong><br></strong></strong></span></strong></span>
            </p>
            <p style="white-space: normal;"><span style="font-size: 18px;"><strong>质量目标：工程竣工验收合格率100%；顾客满意率≥95%<span
                    style="font-family: 宋体, SimSun;"><strong><strong><strong>。</strong><br></strong></strong></span></strong></span>
            </p>
            <p style="white-space: normal;"><span style="font-size: 18px;"><strong>工作理念：工作注重时效，敬业改变命运，质量决定效益，服务决定发展，安全确保生产，管理提升效率<span
                    style="font-family: 宋体, SimSun;"><strong><strong><strong>。</strong><br></strong></strong></span></strong></span>
            </p>
            <p style="white-space: normal;">&nbsp;</p>
            <p style="white-space: normal;"><br>&nbsp;</p>
            <p style="white-space: normal;"><span style="font-size: 24px;">企业全国分布<br></span>Companies Nationwide
                Distribution</p>
            <p style="white-space: normal;">&nbsp;</p>
            <p style="white-space: normal;">
                亿创电力建设集团有限公司福建分公司<br>亿创集团福建电力营销有限公司<br>亿创集团福建电力建设有限公司<br>亿创集团（福建）电力设计院有限公司<br>亿创集团（长乐）电力建设有限公司<br>亿创集团晋江电力建设有限公司<br>亿创集团福鼎电力建设有限公司<br>亿创电力建设集团漳州电力建设有限公司<br>亿创集团贵州电力建设有限公司<br>亿创电力建设南京有限公司<br>亿创集团山东电力建设有限公司<br>亿创集团（浙江）电力建设有限公司<br>亿创集团（广东）电力建设有限公司<br>亿创集团（江西）电力建设有限公司<br>亿创集团电力设施检测检修中心
            </p>
            <p style="white-space: normal;">......</p>
            <p style="white-space: normal;">&nbsp;</p>
            <p style="white-space: normal;"><span style="font-size: 18px;"><strong>亿创电力建设集团真诚希望在多领域与各界朋友广泛合作，共谋，共同开创辉煌的明天。</strong></span>
            </p>
            <p style="white-space: normal;">&nbsp;</p>
            <p><br></p>

        </div>
    </div>
</div>
@# } #@
