@#
layout("../common/base.html",{title:'亿创电力集团',nav:'index',header_css:""}){
#@
<div style="padding-top: 87px">
    <div class="wrapper-img">
        <div class="img"></div>
    </div>

    <div class="wrapper-content" style="z-index: 99999">
        <div class="content-title">
            <div class="title">资质荣誉</div>
            <div class="subtitle">QUALIFICATION</div>
        </div>

        <div class="content-title-nav">
            <ul>
                <li>
                    <a class="active" href="">企业资质</a>
                </li>
                <li>
                    <a href="">企业荣誉</a>
                </li>
            </ul>
        </div>

        <div class="content-main">
            <div class="content-img-list">
                <ul class="banimg">
                    <li>
                        <a href="">
                            <div class="case-img">
                                <img src="/upfiles/case/201806280855435792.jpg" alt="">
                            </div>
                            <div class="case-info">
                                <h1>营业执照</h1>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <div class="case-img">
                                <img src="/upfiles/case/201806280855435792.jpg" alt="">
                            </div>
                            <div class="case-info">
                                <h1>承装（修、试）电力设施许可证</h1>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <div class="case-img">
                                <img src="/upfiles/case/201806280855435792.jpg" alt="">
                            </div>
                            <div class="case-info">
                                <h1>建筑业企业资质证书</h1>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <div class="case-img">
                                <img src="/upfiles/case/201806280855435792.jpg" alt="">
                            </div>
                            <div class="case-info">
                                <h1>质量管理体系认证证书（副本）</h1>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <div class="case-img">
                                <img src="/upfiles/case/201806280855435792.jpg" alt="">
                            </div>
                            <div class="case-info">
                                <h1>质量管理体系认证证书（副本）</h1>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- 分页 -->
                <div id="test1" style="text-align: center"></div>
            </div>

            <div class="content-main1">
                <div class="content-main1-child">
                    <h2>
                        <i></i>
                        让光明成就您的事业 让光明实现您的梦想
                        <i></i>
                    </h2>
                    <h3>
                        亿创电力建设集团是以电力工程施工建设、水电开发与投资、风电投资、电力设备检修、售电、设备制造等多产业的股份制企业。集团注册资本叁亿叁仟多万元人民币，具备建设部颁发的电力工程施工总承包叁级、机电工程施工总承包叁级、输变电工程专业承包叁级资质和国家能源局颁发的承装（修、试）电力设施叁级资质。</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        setWid();
    });

    function setWid() {
        var wid = $(".banimg").width();
        var wid_li = wid / 4.1;
        var h_li = wid_li * 1.52;
        $(".banimg li").width(wid_li);
        $(".banimg li").height(h_li);
        var wid_img = wid_li * 0.96;
        var h_img = wid_img * 1.4;
        $(".banimg .case-img").height(h_img);
        console.log(wid);
    }

    layui.use('laypage', function () {
        var laypage = layui.laypage;
        //执行一个laypage实例
        laypage.render({
            theme: "#0d2e3d",
            elem: 'test1', //注意，这里的 test1 是 ID，不用加 # 号
            count: 20 //数据总数，从服务端得到
        });
    });
</script>
@# } #@