@#
layout("../common/base.html",{title:'亿创电力集团',nav:'index',header_css:""}){
#@
<div class="comm-warp-position">
    <div class="comm-wrapper-img">
        <div style="background: url(^{channelTopImg.sysValue!}) no-repeat center bottom;background-size: 100% auto;"></div>
    </div>
    <div class="comm-wrapper-content">
        <div class="comm-content-title">
            <div class="title">^{channelTitle.name}</div>
            <div>^{channelTitle.pageName}</div>
        </div>

        @# if(navList != null ) {#@
        <div class="comm-content-title-nav">
            <ul id="nav_list">
                @#for(nav in navList){ #@
                <li>
                    <a href="/front/public/qualification?channelId=^{nav.id}&pageNum=1" id="nav^{navLP.dataIndex}"
                       value="^{nav.id}">^{nav.name}</a>
                </li>
                @#}#@
            </ul>
        </div>
        @#}#@

        @#if(template! == "TITLE_TYPE"){#@
        <!-- 标题类型模板 -->
        <div class="content-main">
            <div class="news-list">
                @# for(item in content.list) { #@
                <div class="news-item">
                    <div class="news-one">
                        <a class="news-content"
                           href="/front/public/detail?channelId=^{item.channelId}&articleId=^{item.id}">
                            <div class="news-wrapper">
                                <div class="news-body">
                                    <p class="date">
                                        <span class="md">^{item.postTime}</span>
                                    </p>
                                    <p id="title-tpl-title^{itemLP.dataIndex}" class="title">^{item.title}</p>
                                    <div class="line"></div>
                                    <p id="title-tpl-summary^{itemLP.dataIndex}" class="description">^{item.summary}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                @# }
                if(content.list.~size > 0){ #@
                <!-- 分页 -->
                <div id="test1" style="text-align: center;margin-top: 50px"></div>
                @# } #@
            </div>
        </div>
        @#}else if(template! == "IMG_TYPE_ONE"){#@
        <!-- 图片类型一模板 -->
        <div class="content-main">
            <div>
                <ul class="img-tpl-ul" style="align-items: center">
                    @#for(item in content.list){#@
                    <li class="img-tpl-li">
                        <a href="/front/public/detail?channelId=^{item.channelId}&articleId=^{item.id}">
                            <div class="li-1-img">
                                <img src=^{item.titleImg}>
                            </div>
                            <div class="li-title">
                                <h2>^{item.title}</h2>
                            </div>
                        </a>
                    </li>
                    @#}#@
                </ul>
                <!-- 分页 -->
                <div id="test1" style="text-align: center"></div>
            </div>
        </div>
        @#}else if(template! == "IMG_TYPE_TWO"){#@
        <!-- 图片类型二模板 -->
        <div class="content-main">
            <div>
                <ul class="img-tpl-ul">
                    @#for(item in content.list){#@
                    <li class="img-tpl-li">
                        <a href="/front/public/detail?channelId=^{item.channelId}&articleId=^{item.id}">
                            <div class="li-2-img">
                                <img src=^{item.titleImg}>
                            </div>
                            <div class="li-title">
                                <h2>^{item.title}</h2>
                                <h3>^{activeNavName}</h3>
                            </div>
                        </a>
                    </li>
                    @#}#@
                </ul>
                <!-- 分页 -->
                <div id="test1" style="text-align: center"></div>
            </div>
        </div>
        @#}else if(template! == "RICH_TYPE"){#@
        <!-- 富文本类型模板 -->
        <div class="content-main">
            @# for(item in content.list){#@
            ^{item.content}
            @#}#@
        </div>
        @#} #@

        @# if(articleContent! != null){
        for(article in articleContent) { #@
        <div class="content-main1" style="background: url(^{article.titleImg!}) no-repeat bottom center; background-size: 100% auto;">
            <div class="content-main1-child">
                <h2>
                    <i></i>
                    ^{article.title}
                    <i></i>
                </h2>
                ^{article.content}
            </div>
        </div>
        @#}}#@
    </div>
</div>
<script>
    $(function () {
        setWid();
        var search = window.location.search;
        var channelId = search.substring(search.indexOf("channelId=") + "channelId=".length, search.indexOf("&"));
        var pageNum = search.substring(search.indexOf("pageNum=") + "pageNum=".length);
        var total = "^{content.total}";
        var navLength = $("#nav_list").children("li").length;
        var activeChannelId; // 选中栏目的ID

        if (pageNum == "" || pageNum == null) {
            pageNum = 1;
        }
        $("#nav0").addClass("active");  // 默认选中第一个
        for (var i = 0; i < navLength; i++) {
            var navId = $("#nav" + i).attr("value");
            if (navId == channelId) {
                $("#nav0").removeClass("active");
                $("#nav" + i).addClass("active");
                activeChannelId = $("#nav" + i).attr("value");
                break;
            }
            var isActive = $("#nav" + i).hasClass("active");
            if (isActive) {
                activeChannelId = $("#nav" + i).attr("value");
            }
        }

        // 分页
        layui.use('laypage', function () {
            var laypage = layui.laypage;
            //执行一个laypage实例
            laypage.render({
                theme: "#0d2e3d",
                elem: 'test1', //注意，这里的 test1 是 ID，不用加 # 号
                count: total, //数据总数，从服务端得到
                curr: pageNum,
                limit: 8,
                jump: function (obj, first) {
                    if (!first) {
                        window.location.href = "/front/public/qualification?channelId=" + activeChannelId + "&pageNum=" + obj.curr;
                    }
                }
            });
        });
    });

    function setWid() {
        var wid = $(".banimg").width();
        var wid_li = wid / 4.1;
        var h_li = wid_li * 1.52;
        $(".banimg li").width(wid_li);
        $(".banimg li").height(h_li);
        var wid_img = wid_li * 0.96;
        var h_img = wid_img * 1.4;
        $(".banimg .case-img").height(h_img);
    }
</script>
@#}#@

