<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChannelMapper">

    <sql id="select_sql_part">
        id,
        `name`,
        parent_id AS parentId,
        "group",
        page_name AS pageName,
        index_name AS indexName,
        index_count AS indexCount,
        page_template AS pageTemplate,
        list_name AS listName,
        list_count AS listCount,
        list_template AS listTemplate,
        sort,
        gmt_modified AS gmtModified
    </sql>

    <!--  添加栏目项  -->
    <insert id="insert" parameterType="com.shytong.modules.channel.model.ChannelDo">
        INSERT INTO sy_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="group != null and group != ''">
                `group`,
            </if>
            <if test="pageName != null and pageName !=''">
                page_name,
            </if>
            <if test="indexName != null and indexName != ''">
                index_name,
            </if>
            <if test="indexCount != null and indexCount != ''">
                index_count,
            </if>
            <if test="pageTemplate != null and pageTemplate != ''">
                page_template,
            </if>
            <if test="listName != null and listName != ''">
                list_name,
            </if>
            <if test="listCount != null and listCount != ''">
                list_count,
            </if>
            <if test="listTemplate != null and listTemplate != ''">
                list_template,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="creatorId != null and creator != ''">
                creator_id,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="editorId != null and editorId != ''">
                editor_id,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTGER}
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType= INTEGER},
            </if>
            <if test="group != null and group != ''">
                #{group,jdbcType= VARCHAR},
            </if>
            <if test="pageName != null and pageName !=''">
                #{pageName,jdbcType= VARCHAR},
            </if>
            <if test="indexName != null and indexName != ''">
                #{indexName,jdbcType= VARCHAR},
            </if>
            <if test="indexCount != null and indexCount != ''">
                #{indexCount,jdbcType= VARCHAR},
            </if>
            <if test="pageTemplate != null and pageTemplate != ''">
                #{pageTemplate,jdbcType= VARCHAR},
            </if>
            <if test="listName != null and listName != ''">
                #{listName,jdbcType= VARCHAR},
            </if>
            <if test="listCount != null and listCount != ''">
                #{listCount,jdbcType= VARCHAR},
            </if>
            <if test="listTemplate != null and listTemplate != ''">
                #{listTemplate,jdbcType= VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType= INTEGER},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType= TIMESTAMP},
            </if>
            <if test="creatorId != null and creator != ''">
                #{creatorId,jdbcType= VARCHAR},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType= TIMESTAMP},
            </if>
            <if test="editorId != null and editorId != ''">
                #{editorId,jdbcType= VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType= INTEGER},
            </if>
        </trim>
    </insert>

    <!--  修改栏目项  -->
    <update id="update" parameterType="com.shytong.modules.channel.model.ChannelDo">
        UPDATE sy_channel
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType= INTEGER},
            </if>
            <if test="group != null and group != ''">
                `group` = #{group,jdbcType= VARCHAR},
            </if>
            <if test="pageName != null and pageName !=''">
                page_name = #{pageName,jdbcType= VARCHAR},
            </if>
            <if test="indexName != null and indexName != ''">
                index_name = #{indexName,jdbcType= VARCHAR},
            </if>
            <if test="indexCount != null and indexCount != ''">
                index_count = #{indexCount,jdbcType= VARCHAR},
            </if>
            <if test="pageTemplate != null and pageTemplate != ''">
                page_template = #{pageTemplate,jdbcType= VARCHAR},
            </if>
            <if test="listName != null and listName != ''">
                list_name = #{listName,jdbcType= VARCHAR},
            </if>
            <if test="listCount != null and listCount != ''">
                list_count = #{listCount,jdbcType= VARCHAR},
            </if>
            <if test="listTemplate != null and listTemplate != ''">
                list_template = #{listTemplate,jdbcType= VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType= INTEGER},
            </if>
            <if test="gmtCreate != null">
                gmt_create =#{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="creatorId != null and creatorId != ''">
                creator_id = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="editorId != null and editorId != ''">
                editor_id = #{editorId,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
        </trim>
        WHERE
        id = #{id,jdbcType = INTEGER}
    </update>

    <!--  获取栏目列表  -->
    <select id="select" parameterType="java.util.Map" resultType="com.shytong.modules.channel.model.ChannelDo">
        SELECT
        <include refid="select_sql_part"/>
        FROM
        sy_channel
        <where>
            <if test="name != null and name != ''">
                AND `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId,jdbcType= INTEGER},
            </if>
            <if test="group != null and group != ''">
                AND `group` = #{group,jdbcType= VARCHAR},
            </if>
            <if test="pageName != null and pageName !=''">
                AND page_name = #{pageName,jdbcType= VARCHAR},
            </if>
            <if test="indexName != null and indexName != ''">
                AND index_name = #{indexName,jdbcType= VARCHAR},
            </if>
            <if test="indexCount != null and indexCount != ''">
                AND index_count = #{indexCount,jdbcType= VARCHAR},
            </if>
            <if test="pageTemplate != null and pageTemplate != ''">
                AND page_template = #{pageTemplate,jdbcType= VARCHAR},
            </if>
            <if test="listName != null and listName != ''">
                AND list_name = #{listName,jdbcType= VARCHAR},
            </if>
            <if test="listCount != null and listCount != ''">
                AND list_count = #{listCount,jdbcType= VARCHAR},
            </if>
            <if test="listTemplate != null and listTemplate != ''">
                AND list_template = #{listTemplate,jdbcType= VARCHAR},
            </if>
            <if test="sort != null">
                AND sort = #{sort,jdbcType= INTEGER},
            </if>
            <if test="gmtCreate != null">
                AND gmt_create =#{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                AND gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="creatorId != null and creatorId != ''">
                AND creator_id = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="editorId != null and editorId != ''">
                AND editor_id = #{editorId,jdbcType=VARCHAR},
            </if>
            and is_deleted = 0
        </where>
        ORDER BY sort
    </select>

    <!--  根据栏目编号获取子栏目  -->
    <select id="getSonChannelListById" parameterType="java.util.Map"
            resultType="com.shytong.modules.channel.model.ChannelDo">
        SELECT
        <include refid="select_sql_part"/>
        FROM
        sy_channel
        WHERE
        parent_id = #{parentId,jdbcType=INTEGER}
        AND is_deleted = 0
        ORDER BY sort ASC
    </select>


    <!--  获取栏目id下的子栏目  -->
    <select id="getChannelListByPId" parameterType="java.lang.Integer"
            resultType="java.util.Map">
        SELECT
        <include refid="select_sql_part"/>
        FROM
        sy_channel
        WHERE
        parent_id = #{parentId,jdbcType=INTEGER}
        AND is_deleted = 0
        GROUP BY id
        ORDER BY sort
    </select>

    <!--  获取栏目id的父栏目  -->
    <select id="getChannelListBySonChannelId" parameterType="java.lang.Integer"
            resultType="com.shytong.modules.channel.model.ChannelDo">
        SELECT
        <include refid="select_sql_part"/>
        FROM
        sy_channel
        WHERE
        id = #{channelId,jdbcType=INTEGER}
        AND is_deleted = 0
        GROUP BY id
    </select>

    <!--  获取栏目id下的子栏目及图片等信息  -->
    <select id="getChannelListByParentChannelId" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
            a.id,
            a.`name`,
            a.parent_id AS parentId,
            a.`group`,
            a.page_name AS pageName,
            a.index_name AS indexName,
            a.index_count AS indexCount,
            a.page_template AS pageTemplate,
            a.list_name AS listName,
            a.list_count AS listCount,
            a.list_template AS listTemplate,
            a.sort,
            a.gmt_modified AS gmtModified,
            b.sys_key AS  sysKey,
            b.sys_value AS sysValue,
            b.sys_name AS sysName,
            c.id AS artId,
            c.channel_id AS channelId,
            c.post_time AS postTime,
            c.title AS title
        FROM
            sy_channel a
                LEFT JOIN sy_sys_config b on a.id = b.sys_key AND b.is_deleted = 0
                LEFT JOIN sy_article c ON c.channel_id = a.id AND c.is_deleted = 0 AND c.id is NOT NULL
        WHERE
        a.parent_id = #{parentId,jdbcType=INTEGER}
        AND a.is_deleted = 0
        ORDER BY a.sort ASC, c.post_time DESC
    </select>

    <!--  根据id查找栏目  -->
    <select id="getChannelById" parameterType="java.lang.Integer"
            resultType="com.shytong.modules.channel.model.ChannelDo">
        SELECT
        <include refid="select_sql_part"/>
        FROM
        sy_channel
        WHERE
        id = #{channelId,jdbcType=INTEGER}
        AND is_deleted = 0
    </select>

    <!--  根据分组获取栏目列表  -->
    <select id="getSonChannelListByGroup" parameterType="java.lang.String"
            resultType="com.shytong.modules.channel.model.ChannelDo">
        SELECT
        <include refid="select_sql_part"/>
        FROM
        sy_channel
        WHERE
        `group` = #{group,jdbcType=VARCHAR}
        AND is_deleted = 0
        ORDER BY sort ASC
    </select>

    <!--  根据子栏目找父栏目id  -->
    <select id="getParentChannelId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
            parent_id AS parentId
        from
            sy_channel
        where
            id = #{channelId,jdbcType=INTEGER}
            AND is_deleted = 0
    </select>
</mapper>